.custom-container {
    min-height: calc(100vh - 32px - 16px - 72.2167px);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.home {
    display: flex;
    flex-direction: column;
}

.home>h1 {
    font-size: 3rem;
    font-weight: bold;
}

.home>p {
    color: gray !important;
}

.custom-button {
    color: #d1d0c5;
    font-size: 1rem;
    line-height: 1.25rem;
    background-color: #2c2e31;
    padding: 8px;
    width: 224px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: .5rem;
    font-weight: 600;
    transition: color .5s, background-color .8s;
}

.custom-button:hover {
    background-color: #d1d0c5;
    color: #2c2e31 !important;
}