.verify-button {
    color: #d1d0c5;
    font-size: 1rem;
    line-height: 1.25rem;
    background-color: #2c2e31;
    padding: 8px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: .5rem;
    font-weight: 600;
    transition: color .5s, background-color .8s;
}

.verify-button:hover {
    background-color: #d1d0c5;
    color: #2c2e31 !important;
}